@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

.lang-menu-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
}

.lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
    color: rgb(51, 234, 167);
}

/*English*/

.lang-menu .selected-lang-en {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}

.lang-menu .selected-lang-en:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/322/flag-united-states_1f1fa-1f1f8.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*Spanish*/

.lang-menu .selected-lang-es {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}

.lang-menu .selected-lang-es:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/322/flag-spain_1f1ea-1f1f8.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*Japanese*/

.lang-menu .selected-lang-jp {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}

.lang-menu .selected-lang-jp:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/322/flag-japan_1f1ef-1f1f5.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*German*/

.lang-menu .selected-lang-de {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}

.lang-menu .selected-lang-de:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/322/flag-germany_1f1e9-1f1ea.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* =================================================================*/

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: rgba(255, 255, 255, 0.135);
    border: 1px solid rgba(255, 255, 255, 0.135);
    position: absolute;
    top: 32px;
    right: -12%;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    color: rgb(51, 234, 167);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: rgb(51, 234, 167);
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
    color: rgb(51, 234, 167);
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(51, 234, 167);
}

.en:before {
    background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/322/flag-united-states_1f1fa-1f1f8.png);
}

.es:before {
    background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/322/flag-spain_1f1ea-1f1f8.png);
}

.jp before {
    background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/322/flag-japan_1f1ef-1f1f5.png);
}

.de:before {
    background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/322/flag-germany_1f1e9-1f1ea.png);
}


.lang-menu:hover ul {
    display: block;
}